<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zgw.company.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity android:name=".core.ui.ImagePicsListActivity" />
        <activity android:name=".webview.WebActivity" />
    </application>
</manifest>